@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Inter;
  src: url(./Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
.backgroundImage{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../Assets/chuttersnap-TSgwbumanuE-unsplash.jpg);
  min-height: 100vh;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.favoriteBg{
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  min-height: 100%;
  border-right: 1px;
  border-style: solid;
}

.searchClass{
  background-color: transparent;
  border-bottom: 1px;
  border-style: solid;
  color: white;
  padding-left: 20px;
}